/* regole generali */
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.fixed-container{
    height: 10vh;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
}

/* header */


#top-container{
    top: 0;
    right: 0;
    background-color: black;
}


.box-text-header{
    color: white;
    position: absolute;
    top: 0;
    right: 5px;
}
.gray-box{
    display: inline-block;
    background-color: gray;
    border-radius: 7px;
    padding: 5px;
}

/* main  */

.img-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 100px 0 100px 0;  /*alternative??? */
    background-color: black;
    overflow-y: auto;
    height: 80vh;
    
}
.box-testo-img{
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 5px 5px 5px;
  
}
.img-container-due{
    height: 200px;
    width: 13%;
    position: relative;
    padding-top: 10px;
}
div.img-container img{
    width: 100%;
    height: 100%;
}

.fa-microphone-slash{
 
    color: white;
    font-size: 15px;
}
span{
   color: white;

}

/* footer */

#bottom-container{
    bottom: 0;
    left: 0;
    background-color: rgb(74,74,74);
}

#flex-container{
    display: flex;
    justify-content: space-evenly;

}

footer ul{
    list-style-type: none;
    color: white;
}

/* debug */

/* header div{
    height: 10vh;
    width: 100%;
    background-color: orange;
    position: fixed;
    top: 0;
    left: 0;
} */

/* footer div{
    height: 10vh;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
} */


